.info-box {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    height: 80px;
    display: flex;
    cursor: default;
    background-color: #fff;
    position: relative;
    overflow: hidden;
    
    margin-bottom: 30px;
}
.info-box.hover-expand-effect:hover:after {
    width: 100%;
}
.info-box .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.info-box.hover-expand-effect:after {
    background-color: rgba(0, 0, 0, 0.05);
    content: ".";
    position: absolute;
    left: 80px;
    top: 0;
    width: 0;
    height: 100%;
    color: transparent;
    -moz-transition: all 0.95s;
    -o-transition: all 0.95s;
    -webkit-transition: all 0.95s;
    transition: all 0.95s;
}
.info-box .icon {
    display: inline-block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.12);
    width: 80px;
}
.fas {
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
}
.info-box .icon i {
    color: #fff;
    font-size: 50px;
    line-height: 80px;
}


.bg-pink {
    background-color: #e6326e !important;
    color: #fff;
}
.bg-cyan {
    background-color: #00BCD4 !important;
    color: #fff;
}
.bg-purple {
    background-color: #9C27B0 !important;
    color: #fff;
}
.bg-light-green {
    background-color: #8BC34A !important;
    color: #fff;
}
.bg-blue-grey {
    background-color: #607D8B !important;
    color: #fff;
}
.bg-orange {
    background-color: #FF9800 !important;
    color: #fff;
}
.bg-red {
    background-color: #F44336 !important;
    color: #fff;
}
.bg-brown {
    background-color: #795548 !important;
    color: #fff;
}
.block-head h2 {
    margin: 0 !important;
    color: #666 !important;
    font-weight: normal;
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
    padding: 15px;
    display: flex;

}
.body1{
    margin-right: 30px;
}

